.caption {
    font-size: 5px;
}

.mapCaption {
    font-size: 12px;
    color: #A9A9A9;
}

#markerWithText .hidden-text {
    visibility: hidden;
}

#markerWithText:hover .hidden-text {
    visibility: visible;
}